{
  "firebase": {
    "admin_key_base64": "base64_encoded_service_account_json_for_local_dev"
  },
  "session": {
    "secret": "local_dev_jwt_signing_secret_min_32_chars_CHANGE_THIS_TO_RANDOM_STRING"
  },
  "app": {
    "use_emulators": "true",
    "environment": "development"
  }
}
